
.banner{
    background-image: url('./garden.png');
    
    background-position: center;
    background-size: cover;
}

.dark{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5rem 2.5rem;
}

.h1{
    font-size: 6rem;
    font-weight: 700;
    color: white;
}

.button{
    background-color: #92A134;
    font-size: 1.25rem;
    color: white;
    font-weight: 600;
    width: 13.625rem;
    height: 3.5rem;
    border: none;
    border-radius: 0.325rem;
    margin: 2.5rem 0 7rem;
    cursor: pointer;
}

@media(max-width: 768px){
    .h1{
        font-size: 4rem;
    }
}

@media(max-width: 480px){
    .h1{
        font-size: 3.125rem;
    }
}














