/* Components/Footer/Map.module.css */
.maps {
  width: 100%;
  height: 350px;
}

.maps iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.75rem;
  display: block;
}

@media (max-width: 1000px) { .maps { height: 300px; } }
@media (max-width: 768px)  { .maps { height: 250px; } }
@media (max-width: 480px)  { .maps { height: 200px; } }
