
.container{
    overflow: hidden;
    width: 100%;
    /* max-width: 19.75rem; */
    height: 26.375rem;
    border: 1px solid var(--divider);
    border-radius: 1rem;
    position: relative;
    background-color: var(--card);
    
}

.productImg{
    /* background-clip: padding-box; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    height: 17.75rem;
    background-position: center;
    
}

.dprice{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text);
}

.price{
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: line-through;
    /* text-align:justify; */
    color: var(--muted);
    margin-left: 1rem;
}

.productInfo{
    border-top: 1px solid var(--divider);
    padding:1rem 2rem;
}

.salePercent{
    background-color: #F26D22;
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    color: white;
    font-weight: 600;
    width:fit-content;
    border-radius: 0.3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;   
}

.addToCart{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 16px;
    width: 90%;
    height: 3.675rem;
    background-color: #F26D22;
    border-radius: 0.75rem;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 1.25rem;
    font-weight: 600;

}

.container:hover .addToCart{
    opacity: 1;
}

.addToCart:active{
    background-color:var(--text) ;
}


